* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

section {
  margin: 30px 0;
}

#container {
  margin: 0 auto;
}

.navbar-brand {
  font-size: 24px;
}

h1 {
  font-size: 42px;
  margin-bottom: 50px;
}

.btn {
  min-width: 75px !important;
}

table td, th {
  vertical-align: middle !important;
}

.thbtn {
  width: 40px !important;
}

.modal-body span {
  color: #fff;
  background-color: #666;
  border-radius: 5px;
  padding: 3px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #container {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #container {
    width: 95%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #container {
    width: 85%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #container {
    width: 70%;
  }
}
